<p style="color: green"><%= notice %></p>

<h1>Blogs</h1>
<table>
  <thead>
    <tr>
      <th>|Blog Title|</th>
      <th>|Body|</th>
      <th style="padding-right: 20px">|Status|</th>
      <th>|Options|</th>
      <th colspan="4"></th>


<tbody>
  <% @blogs.each do |blog| %>
  <tr>
  <td><%= blog.title %></td>
  <td><%= blog.body %></td>
  <td><%= link_to blog.status, toggle_status_blog_path(blog) %></td>
  <td><%= link_to 'Show',blog %></td>
  <td><%= link_to 'Edit',edit_blog_path(blog) %></td>
  <td><%= link_to 'Delete',blog,method: :delete, data: {  turbo_method: :delete,  turbo_confirm: "Are you totally sure you want to FUCK IT?"} %></td>
</tr>
<% end %>
</tbody>
</table>

<br>



<%= link_to "New blog", new_blog_path %>
