<h1> Create a new Portfolio Item </h1>

<%= form_with(model: @portfolio_item) do |form| %>


  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

   <div>
    <%= form.label :subtitle, style: "display: block" %>
    <%= form.text_field :subtitle %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  def new
    @portfolio_item = Portfolio.new
    3.times { @portfolio_item.technologies.build }
  end


  <div>
    <%= form.submit %>
  </div>
<% end %>
